[submodule "third-party/as3delaunay"]
	path = third-party/as3delaunay
	url = https://github.com/nodename/as3delaunay.git
[submodule "third-party/as3corelib"]
	path = third-party/as3corelib
	url = https://github.com/mikechambers/as3corelib.git

